header {
  background: var(--secondary-colour);
  border-radius: var(--squarish-radius);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-family-serif);
  text-align: center;
}
