main {
    width: 90%;
    margin: 0 auto;
    flex: 1;
    margin-top: 170px; /* Adjust based on header height */
    margin-bottom: 0; /* Adjust based on footer height */
    overflow-y: auto;
  
    article.card {
      margin: 0 auto;
    }
  }